<div></div>

<style>
  div {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 32rem;
    height: 27rem;
    background: linear-gradient(
      106.89deg,
      rgba(192, 132, 252, 0.11) 15.73%,
      rgba(30, 167, 231, 0.274) 15.74%,
      rgba(232, 121, 249, 0.218) 56.49%,
      rgba(78, 70, 229, 0.419) 115.91%
    );
    filter: blur(108px);
    margin: 0 auto;
    z-index: -1;
  }
  @media (min-width: 640px) {
    div {
      max-width: 80rem;
      height: 15rem;
    }
  }
</style>
