<div></div>

<style>
  div::before {
    content: "";
    background: rgba(91, 189, 255, 0.1);
    filter: blur(100px);
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 135em;
    z-index: -1;
  }
</style>
