---
import { Project } from "@interface/index";
import GradientText from "@components/gradients/GradientText.astro";
import ProjectType from "./ProjectType.astro";
import Technologies from "@components/Technologies.astro";
import MediaCard from "@components/cards/MediaCard.astro";
import Carousel from "@components/Carousel.astro";
import AnchorButton from "@components/buttons/AnchorButton.astro";

interface Props {
  projects: Project[];
}
const { projects } = Astro.props;
---

<Carousel>
  <ul>
    {
      projects.map(
        (
          {
            title,
            customColor,
            projectType,
            description,
            media,
            technologies,
            urlProjects,
          },
          index
        ) => {
          return (
            <li class={index == 0 ? "carousel active" : "carousel"}>
              <div>
                <h4>
                  <GradientText
                    text={title}
                    gradient={customColor.colorGradient}
                  />
                </h4>
                <ProjectType projectType={projectType} />
                <p>{description}</p>
                <Technologies technologies={technologies} />
              </div>
              <div>
                <MediaCard boxShadow={customColor.boxShadow} media={media} />
                <footer>
                  <AnchorButton
                    svg="/assets/svg/gitlab.svg"
                    text="Gitlab"
                    color="white"
                    backgroundColor="#6463ec"
                    href={urlProjects.repository}
                  />
                  <AnchorButton
                    svg="/assets/svg/web.svg"
                    text="Web"
                    color="black"
                    backgroundColor="#ffffff"
                    href={urlProjects.repository}
                  />
                </footer>
              </div>
            </li>
          );
        }
      )
    }
  </ul>
</Carousel>

<style>
  h4 {
    margin: 0 0 10px 0;
    letter-spacing: -0.025em;
    font-weight: 800;
    gap: 0.5em;
    font-size: 1.8rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 100%;
    grid-gap: 35px;
    margin: 0 0 3em 0;
  }
  li:not(.active) {
    display: none;
  }
  footer {
    display: flex;
    justify-content: end;
    gap: 0.5em;
    margin-top: 8px;
  }
  @media (max-width: 992px) {
    li:not(.active) {
      display: grid;
    }
  }
</style>
