---
import { Project } from "@interface/index";
import GradientText from "@components/gradients/GradientText.astro";
import ProjectType from "./ProjectType.astro";
import Technologies from "@components/Technologies.astro";

interface Props {
  projects: Project[];
}
const { projects } = Astro.props;
---

<div class="container-other-projects">
  {
    projects.map(({ urlProjects, title, customColor, media, description }) => {
      return (
        <a
          href={urlProjects.repository}
          target="_blank"
          rel="noopener noreferrer"
        >
          <header>
            <h4>
              <GradientText text={title} gradient={customColor.colorGradient} />
            </h4>
            <p>{description}</p>
          </header>
          <img
            loading="lazy"
            decoding="async"
            src={media.url}
            alt={media.description}
          />
          <span>More information →</span>
        </a>
      );
    })
  }
</div>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  header {
    position: relative;
    z-index: 2;
  }
  img {
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    z-index: -1;
    opacity: 0.125;
  }
  p {
    font-size: .9rem;
    margin: 0 0 0.5em 0;
  }
  h4 {
    margin: 0;
    letter-spacing: -0.025em;
    font-weight: 800;
    gap: 0.5em;
    font-size: 1.7rem;
  }
  a {
    background: #ededf3;
    padding: 1em;
    border-radius: 8px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    position: relative;
    z-index: 1;
    transition-property: scale, box-shadow;
    transition-duration: 0.2s;
    text-decoration: none;
    color: var(--c-grey);
    width: 100%;
  }
  a:hover {
    scale: 1.04;
    z-index: 2;
  }
  a:hover > span {
    background-image: linear-gradient(
      to bottom,
      transparent 70%,
      #5ceb7665 70%
    );
    display: inline-flex;
  }
</style>
