---
import { ProjectType as PT } from "@interface/project";
import PillCard from "@components/cards/PillCard.astro";

interface Props {
  projectType: PT[];
}
const { projectType } = Astro.props;
---

<div>
  {projectType.map((p) => <PillCard>{p}</PillCard>)}
</div>

<style>
  div {
    display: flex;
    gap: 8px;
  }
</style>
