---
import GradientText from "@components/gradients/GradientText.astro";
import { mainProjects, otherProjects } from "@data/index";
import MainProjects from "./MainProjects.astro";
import OtherProjects from "./OtherProjects.astro";
---

<section>
  <header>
    <h2>
      <GradientText
        text="01. Recent Projects"
        gradient="-70deg, #6680ff 0%, #5f17bd 100%"
      />
    </h2>
    <p>Web development projects, machine learning, data engineering...</p>
  </header>
  <article>
    <div class="container">
      <h3>
        <GradientText
          text="Main projects"
          gradient="-70deg, #6680ff 0%, #5f17bd 100%"
        />
      </h3>
    </div>
    <div class="container-soft">
      <MainProjects projects={mainProjects} />
    </div>
  </article>
  <article class="container">
    <h3>
      <GradientText
        text="Others projects"
        gradient="-70deg, #6680ff 0%, #5f17bd 100%"
      />
    </h3>
    <OtherProjects projects={otherProjects} />
  </article>
</section>

<style>
  h2 {
    margin: 0;
    letter-spacing: -0.025em;
    font-weight: 800;
    gap: 0.5em;
    font-size: var(--font-size-xl);
  }
  h3 {
    font-size: 1.3rem;
    background-image: linear-gradient(to bottom, transparent 70%, #d0def4 70%);
    display: inline-flex;
  }
  p {
    color: var(--c-black);
    font-size: var(--f-d1);
    margin-bottom: 2em;
  }
  header {
    text-align: center;
    margin-top: 5em;
  }
</style>
