---
import { ComponentInstance } from "astro";
interface Props {
  href: string;
  color?: string;
  backgroundColor: string;
  text: string;
  svg?: string;
}
const { href, color, backgroundColor, text, svg } = Astro.props;
---

<a
  class="other-project"
  target="_blank"
  rel="noopener noreferrer"
  href={href}
  style=`background-color: ${backgroundColor}; color: ${color ?? '#fffff'}`
>
  {text}
  <img height="24" width="24" src={svg} alt="svg" />
</a>

<style>
  a {
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.295);
    cursor: pointer;
    transition-property: scale box-shadow;
    transition-duration: 250ms;
    z-index: 1;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 4px;
    text-decoration: none;
  }
  a:hover {
    scale: 1.12;
  }
</style>
