<button id="next" aria-label="next"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-chevron-right"
    width="44"
    height="44"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M9 6l6 6l-6 6"></path>
  </svg>
</button>

<style>
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #624bde;
    position: relative;
  }
</style>
