---
export interface Props {
  text: string;
  href: string;
}
const { text, href } = Astro.props;
---

<a href={href}>{text}</a>

<style>
  a {
    position: relative;
    text-decoration: none;
    padding: 9px;
    font-weight: 700;
    color: white;
    background-color: var(--c-hard-purple2);
    border-radius: var(--borderWidth);
    transition-property: background-color, scale, box-shadow;
    transition-duration: 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  a:hover {
    color: white;
    background-color: var(--c-hard-purple2);
    box-shadow: rgba(97, 56, 210) 0px 22px 70px 4px;
    scale: 1.3;
  }

  a:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(
      60deg,
      #634cde,
      #5f2dcb,
      #ffffff00,
      #645fea,
      #6138d2
    );
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 2.5s ease alternate infinite;
    background-size: 250% 250%;
  }
  a:hover::after {
    background: none;
    animation: none;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
