---
import { Media, MediaType } from "@interface/index";
const { image } = MediaType;

export interface Props {
  boxShadow: string;
  media: Media;
}

const { boxShadow, media } = Astro.props;
---

<div style={`box-shadow: ${boxShadow}`}>
  {
    media.type == image ? (
      <img
        loading="lazy"
        decoding="async"
        src={media.url}
        alt={media.description}
        width="600"
        height="400"
      />
    ) : (
      <video controls autoplay muted loop>
        <source src={media.url} type="video/mp4" />
      </video>
    )
  }
</div>

<style>
  div {
    padding: 1em;
    border-radius: 16px;
    max-width: 100%;
    height: auto;
    backdrop-filter: blur(20px);
    margin: auto;
  }
  video,
  img {
    object-fit: cover;
    border-radius: 8px;
  }
  img {
    height: auto;
    width: 100%;
  }
</style>
