
<span>
    <slot />
</span>

<style>
  span {
    border-radius: calc(2 * var(--borderWidth));
    font-size: 12px;
    padding: 4px;
    background: linear-gradient(-70deg, #d3d6d4 0%, #dddfde 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 1px;
  }
</style>
