---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import HomePrincipal from "@components/HomePrincipal.astro";
import Projects from "@components/projects/Projects.astro";
import Experience from "@components/experience/Experience.astro";
import About from "@components/About.astro"
---

<Layout title="Bangal Camra">
  <Header />
  <main>
    <HomePrincipal />
    <Projects />
    <Experience />
    <About />
  </main>
</Layout>

<style></style>
