---
import GradientText from "@components/gradients/GradientText.astro";
import Grid from "@components/Grid.astro";
---

<section class="container">
  <header>
    <h2>
      <GradientText
        text="03. About"
        gradient="-70deg, #6680ff 0%, #5f17bd 100%"
      />
    </h2>
  </header>
  <div class="container-parent">
    <div class="parent">
      <div class="box div1"></div>
      <div class="box div2"></div>
      <div class="box div3"></div>
      <div class="box div4"></div>
      <div class="box div5"></div>
      <div class="box div6"></div>
      <div class="box div7"></div>
      <div class="box div8"></div>
      <div class="box div9"></div>
      <div class="box div10"></div>
      <div class="box div11"></div>
      <div class="box div12"></div>
      <div class="box div13"></div>
      <div class="box div14"></div>
    </div>
  </div>
  <Grid
    columns={4}
    rows={4}
    gap="10px"
    data={[
      { html_class: "d1", positions: [[0, 0]] },
      {
        html_class: "d2",
        positions: [
          [1, 0],
          [1, 1],
          [2, 0],
          [2, 1],
        ],
      },
    ]}
  />
</section>

<style>
  .container-parent {
    display: flex;
    flex-direction: column;
    max-width: auto;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .box {
    background: url("/assets/img/background/noise-50.png"), #ededf3;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    color: #fff;
    border-radius: calc(2 * var(--borderWidth));
    padding: 4rem;
  }
  .div1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .div2 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div3 {
    grid-area: 1 / 4 / 2 / 5;
  }
  .div4 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .div5 {
    grid-area: 2 / 4 / 3 / 5;
  }
  .div6 {
    grid-area: 1 / 5 / 2 / 6;
  }
  .div7 {
    grid-area: 2 / 5 / 3 / 6;
  }
  .div8 {
    grid-area: 3 / 5 / 4 / 6;
  }
  .div9 {
    grid-area: 4 / 5 / 5 / 6;
  }
  .div10 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div11 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div12 {
    grid-area: 3 / 3 / 5 / 5;
  }
  .div13 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div14 {
    grid-area: 4 / 2 / 5 / 3;
  }
  header {
    margin-top: 5em;
  }
  h2 {
    margin: 0;
    letter-spacing: -0.025em;
    font-weight: 800;
    gap: 0.5em;
    font-size: var(--font-size-xl);
  }
</style>
