---
import ButtonNext from "./buttons/ButtonNext.astro";
import ButtonPrev from "./buttons/ButtonPrev.astro";
---

<section>
  <span>
    <ButtonPrev />
  </span>
  <div>
    <slot />
  </div>
  <span>
    <ButtonNext />
  </span>
</section>

<style>
  section {
    display: flex;
    flex: row;
  }
  span {
    display: flex;
    align-content: center;
  }
  div {
    margin: auto;
    padding: 0 1.5rem;
    max-width: 100ch;
  }
  @media (max-width: 992px) {
    span {
      display: none;
    }
  }
</style>

<script>
  const next = document.getElementById("next");
  const prev = document.getElementById("prev");
  const totalProjects = document.querySelectorAll(".carousel");
  const initalProject = 0;
  let currentProject = 0;

  function prevSlide() {
    currentProject--;
    if (currentProject < initalProject)
      currentProject = totalProjects.length - 1;
    updateProject();
  }

  function nextSlide() {
    currentProject++;
    if (currentProject >= totalProjects.length) currentProject = 0;
    updateProject();
  }

  function updateProject() {
    totalProjects.forEach((project, i) => {
      project.classList.remove("active");
      if (i === currentProject) {
        project.classList.add("active");
      }
    });
  }

  next.addEventListener("click", nextSlide);
  prev.addEventListener("click", prevSlide);
</script>
