---
import GradientText from "@components/gradients/GradientText.astro";
import Container from "@components/Container.astro";
import Picture from "@components/Picture.astro";
import Button from "@components/buttons/Button.astro";
import BackgroundGradient from "@components/gradients/BackgroundGradient.astro";
---

<section class="container">
  <header>
    <Picture />
    <h1>
      <GradientText
        text={"< Bangal Camara />"}
        gradient={"-70deg, #6680ff 0%, #5f17bd 100%"}
      />
    </h1>
    <h2>
      <GradientText
        text="- Software Developer -"
        gradient="-70deg, #6680ff 0%, #5f17bd 100%"
      />
    </h2>
    <Container>
      <p>
        Proactive, responsible and disciplined professional, focused on creating
        quality and efficient software. I have 2 years of experience in the
        programming world and in the area of web application development, and
        also 5 months of work experience as a frontend developer.
      </p>
    </Container>
  </header>
  <BackgroundGradient />
  <footer>
    <Button text={"Download CV 📃"} href={"/resume.pdf"} />
  </footer>
</section>

<style>
  section {
    text-align: center;
  }
  header {
    padding-top: 1.2rem;
  }
  h1 {
    font-size: var(--font-size-xxl);
    letter-spacing: -0.025em;
    font-weight: 800;
    margin: 0;
  }
  h2 {
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
    background-image: linear-gradient(to bottom, transparent 70%, #D0DEF4 70%);
    display: inline-flex; 
  }
  p {
    font-size: var(--f-d1);
    margin: 0;
  }
  footer {
    margin-top: 1.8em;
    display: flex;
    justify-content: center;
  }
  @media (min-width: 997px) {
    p {
      padding: 0 4em 0 4em;
    }
  }
</style>
