---
import { navbar } from "@data/index";
import SocialNetwork from "@components/SocialNetwork.astro";
---

<nav>
  {
    navbar.map(({ title, classAnchor, href, value }) => (
      <a title={title} class={classAnchor} href={href}>
        {value}
      </a>
    ))
  }
  <div><SocialNetwork /></div>
</nav>

<style>
  nav {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    padding: 0.5rem 0;
  }

  a {
    color: var(--c-grey);
    display: block;
    text-decoration: none;
    font-size: var(--f-d1);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    transition: color 0.3s;
  }

  a:hover,
  a:focus {
    color: var(--t-active-purple);
  }
  div {
    margin-left: auto;
  }
  @media (max-width: 640px) {
    div {
      display: none;
    }
  }
</style>
