<picture>
  <source
    type="image/webp"
    srcset="
          /assets/img/bangal-photos/bangal-main-small.webp?width=600 600w, 
          /assets/img/bangal-photos/bangal-main-medium.webp?width=800 800w,
        "
  />
  <img
    srcset="
          /assets/img/bangal-photos/bangal-main-small.jpeg?width=600 600w, 
          /assets/img/bangal-photos/bangal-main-medium.jpeg?width=800 800w,
        "
    width="260"
    height="260"
    alt="Porfile image"
  />
</picture>

<style>
  img {
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #6680ff;
  }
</style>
