---
import { icons } from "@data/index";
---

<div>
  {
    icons.map(({ name, svg, title, classAnchor, href }) => {
      return (
        <a title={title} class={classAnchor} href={href} target="_blank">
          <img src={svg} loading="lazy" decoding="async" alt={name} height="22" width="22" />
        </a>
      );
    })
  }
</div>

<style>
  div {
    display: flex;
    justify-contnent: center;
    gap: 0.75em;
  }
  img {
    object-fit: cover;
    filter: grayscale(500%);
    opacity: 0.75;
    transition-property: filter, opacity;
    transition-duration: 0.1s;
  }
  a:hover > img {
    filter: none;
    opacity: none;
  }
  a {
    display: block;
    text-decoration: none;
  }
</style>
