---
import { Technology } from "@interface/technology";

export interface Props {
  technologies: Technology[];
  height?: number;
  width?: number;
}
const { technologies, height, width } = Astro.props;
---

<div>
  {
    technologies.map(({ image, name }) => {
      return (
        <span>
          <img
            src={image}
            alt={`${name} logo`}
            title={name}
            height={height ?? 35}
            width={width ?? 35}
            loading="lazy"
            decoding="async"
          />
        </span>
      );
    })
  }
</div>

<style>
  span {
    background: linear-gradient(-70deg, #d3d6d4 0%, #dddfde 100%);
    padding: 10px;
    vertical-align: middle;
    display: inline-flex;
    border-radius: calc(2 * var(--borderWidth));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 1px;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  img {
    object-fit: fill;
  }
</style>
