---
import GradientText from "@components/gradients/GradientText.astro";
---

<section class="container">
  <h2>
    <GradientText
      text={"04 Why me?"}
      gradient={"-70deg, #6680ff 0%, #5f17bd 100%"}
    />
  </h2>
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima reprehenderit cupiditate, ducimus numquam dignissimos ea molestiae repellendus tenetur rem ratione culpa! Blanditiis est eligendi ipsam illo a tempora ut?</h3>
</section>

<style>
  /* section {
    text-align: center;
  } */
  h2 {
    font-size: var(--font-size-xl);
    text-align: center;
    font-weight: 800;
    background-image: linear-gradient(to bottom, transparent 75%, #9b7bf3 75%);
    display: inline-flex;
  }
  h3{
    margin: 0;
    padding: 0;
    font-size: var(--f-d1);
    font-weight: normal;
    text-decoration: none;
  }
 
</style>
