---
import GradientText from "../gradients/GradientText.astro";
import BubbleGradient from "../gradients/BubbleGradient.astro";
import Timeliner from "@components/experience/Timeliner.astro";
import { experience } from "@data/index";
---

<section class="container">
  <div>
    <header>
      <h2>
        <GradientText
          text="02. Experience"
          gradient="-70deg, #6680ff 0%, #5f17bd 100%"
        />
      </h2>
    </header>
    <article>
      <Timeliner experience={experience} />
    </article>
  </div>
  <BubbleGradient />
</section>

<style>
  header {
    margin-top: 5em;
  }
  h2 {
    font-size: var(--font-size-xl);
    margin: 0;
    letter-spacing: -0.025em;
    font-weight: 800;
    gap: 0.5em;
  }
</style>
