---
interface Props {
  description: string;
  texts: string[];
  title: string;
}

const { texts, title, description } = Astro.props;
---

<article>
  <p>{description}</p>
  <h4>{title}</h4>
  <ul>
    {texts.map((text: string) => <li>{text}</li>)}
  </ul>
</article>

<style>
  ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  h4 {
    color: var(--c-purple);
    margin: 1em 0;
    background-image: linear-gradient(to bottom, transparent 70%, #d0def4 70%);
    display: inline-flex;
  }
</style>
