---
import PillCard from "@components/cards/PillCard.astro";
import TimelinerSections from "./TimelinerSections.astro";
const { experience } = Astro.props;
---

<section>
  <ul>
    {
      experience.map(
        ({
          name,
          location,
          description,
          img,
          position,
          responsibilities,
          mainAchievement,
        }) => {
          return (
            <li>
              <header>
                <img src={img} alt="" />
                <h3>{name}</h3>
                <PillCard>💼 {position}</PillCard>
                <PillCard>🗺️ {location}</PillCard>
              </header>
             
              <TimelinerSections description={description} texts={responsibilities} title="Responsibilities"/>
              <TimelinerSections description={description} texts={mainAchievement} title="Main achievement"/>
            </li>
          );
        }
      )
    }
  </ul>
</section>

<style>
  h4 {
    color: var(--c-purple);
    margin: 1em 0;
    background-image: linear-gradient(to bottom, transparent 70%, #d0def4 70%);
    display: inline-flex;
  }
  header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  img {
    width: 2.55rem;
    height: 2.55rem;
    object-fit: cover;
    border: 2px solid #9426e3;
    border-radius: 45%;
  }
  article {
    font-size: var(--f-d1);
  }
  .ul-responsibilities {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  li {
    padding-bottom: 1em;
  }
  ul {
    list-style-type: none;
    position: relative;
  }
  ul::before {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 1px;
    top: 4px;
    height: 100%;
    z-index: 400;
    background: rgb(183, 183, 183);
  }
  li::before {
    content: " ";
    background: #f1f3f4;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 0px;
    width: 15px;
    height: 15px;
    margin-top: 3px;
    z-index: 400;
    border: 2px solid var(--c-purple);
  }
  h3 {
    font-size: var(--f-u1);
    font-weight: 400;
  }
</style>
