---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Personal web page" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
  :root {
    --c-grey: #6a6584;
    --c-purple: #6138d2;
    --c-hard-purple1: #6138d2;
    --c-hard-purple2: #4f1cd1;
    --light-theme: #f1f3f4cd;
    --dark-theme: #030926;

    --t-grey: #736f84;

    --f-d1: 0.8935804647362989em;
    --f-default: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(1.9rem, 1.94vw + 0.9rem, 2.9rem);
    --font-size-xxl: clamp(3.04rem, 3.08vw + 1.05rem, 4.05rem);

    --t-active-purple: #6138d2;

    --borderWidth: 2.5px;
    --border-color: #6138d25d;
  }
  body {
    color: var(--c-grey);
    margin: 0;
  }
  html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji",
      ClearSans-Bold;
    font-size: var(--f-default);
    background-color: var(--light-theme);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .container {
    margin: auto;
    padding: 0 1.5rem;
    max-width: 100ch;
  }
  .container-soft {
    margin: auto;
    padding: 0 1.5rem;
    max-width: 120ch;
  }
</style>
